[pyrat]
# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = tli

# List of line-transtion databases:
dblist = ./CH4_exomol_0.8-10.0um_lbl.dat

# Type of line-transition database, select from: [ps hit ts vo vald emol repack]
dbtype = repack

# List of partition functions for each database:
pflist = ./PF_exomol_CH4.dat

# Initial wavelength (microns):
wllow  =  0.8 um
wlhigh = 10.0 um

# Output TLI file:
tlifile = ./Exomol_CH4_0.8-10.0um.tli

# Verbosity level [1--5]:
verb = 2
