[pyrat]
# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = mcmc

# Observing geometry, select between: [transit emission]
rt_path = emission

# Output log and spectrum file names:
mcmcfile = MCMC_emission_WASP-80b.npz

# Atmospheric model:
atmfile = taurex.atm

# TLI opacity files:
extfile =
    ../run_setup/taurex_H2O_opacity_R15000.npz
    ../run_setup/taurex_CH4_opacity_R15000.npz
    ../run_setup/taurex_CO2_opacity_R15000.npz
    ../run_setup/taurex_CO_opacity_R15000.npz

# Cross-section opacity files:
csfile = ../run_setup/CIA_HITRAN_H2-H2_1.0-500.0um_0200-3000K.dat

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = dalgarno_H2

# Atmospheric models:
tmodel = tcea
radmodel = hydro_m

molmodel = vert vert vert vert
molfree  = H2O  CH4  CO   CO2
bulk = H2 He

# Wavelength sampling boundaries:
wllow  = 0.45 um
wlhigh = 8.05 um

# Wavenumber sampling rate and oversampling factor:
wnstep  = 0.3
wnosamp = 720.0
resolution = 15000.0

# System parameters:
rstar = 0.586 rsun
tstar = 4143.0
rplanet = 10.96 rearth
mplanet = 171.0 mearth
refpressure = 100.0 bar
smaxis = 0.035 au
tint = 100.0

# Maximum optical depth to calculate:
maxdepth = 10.0

# Observations:
dunits = ppm
data =
       0.00     0.12     2.21     5.31    18.00     6.58
      38.83    43.68    43.48    58.50    84.52   122.20
     150.29   152.20   123.84    75.32    65.06    62.64
      65.28    82.99   102.86   109.27   101.50   107.52
     125.98   126.87   140.64   166.93   185.82   230.62
     263.41   254.69   210.13   176.52   190.57   204.87
     217.41   250.94   277.89   342.24   460.49   607.31
    1119.51   834.74   789.22   992.90  1221.88  1194.40
    1336.91  1500.46  1538.72  1542.09
uncert =
      52.29    47.65    47.13    53.86    54.57    55.49
      56.65    58.06    59.75    87.64    88.63    89.55
      90.57    91.65    92.74    93.79    94.96    96.17
      97.38    98.62    99.95   101.29   102.69   104.10
     105.61   107.11   108.71   110.27   111.95   113.65
     115.50   117.31   119.13   121.15   123.17   125.22
     127.36   129.45   131.69   134.03   136.38   138.87
      98.90   104.23   110.11   116.54   123.64   131.53
     140.18   149.69   160.26   171.84

filters =
    ../inputs/filters/ARIEL_VISPhot_0.550um.dat
    ../inputs/filters/ARIEL_FGS_0.705um.dat
    ../inputs/filters/ARIEL_FGS_0.955um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.156um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.275um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.406um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.550um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.708um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.884um.dat
    ../inputs/filters/ARIEL_AIRS_1.970um.dat
    ../inputs/filters/ARIEL_AIRS_2.009um.dat
    ../inputs/filters/ARIEL_AIRS_2.050um.dat
    ../inputs/filters/ARIEL_AIRS_2.091um.dat
    ../inputs/filters/ARIEL_AIRS_2.133um.dat
    ../inputs/filters/ARIEL_AIRS_2.176um.dat
    ../inputs/filters/ARIEL_AIRS_2.219um.dat
    ../inputs/filters/ARIEL_AIRS_2.264um.dat
    ../inputs/filters/ARIEL_AIRS_2.310um.dat
    ../inputs/filters/ARIEL_AIRS_2.356um.dat
    ../inputs/filters/ARIEL_AIRS_2.403um.dat
    ../inputs/filters/ARIEL_AIRS_2.452um.dat
    ../inputs/filters/ARIEL_AIRS_2.501um.dat
    ../inputs/filters/ARIEL_AIRS_2.551um.dat
    ../inputs/filters/ARIEL_AIRS_2.602um.dat
    ../inputs/filters/ARIEL_AIRS_2.655um.dat
    ../inputs/filters/ARIEL_AIRS_2.708um.dat
    ../inputs/filters/ARIEL_AIRS_2.763um.dat
    ../inputs/filters/ARIEL_AIRS_2.818um.dat
    ../inputs/filters/ARIEL_AIRS_2.875um.dat
    ../inputs/filters/ARIEL_AIRS_2.932um.dat
    ../inputs/filters/ARIEL_AIRS_2.991um.dat
    ../inputs/filters/ARIEL_AIRS_3.052um.dat
    ../inputs/filters/ARIEL_AIRS_3.113um.dat
    ../inputs/filters/ARIEL_AIRS_3.175um.dat
    ../inputs/filters/ARIEL_AIRS_3.239um.dat
    ../inputs/filters/ARIEL_AIRS_3.304um.dat
    ../inputs/filters/ARIEL_AIRS_3.371um.dat
    ../inputs/filters/ARIEL_AIRS_3.439um.dat
    ../inputs/filters/ARIEL_AIRS_3.508um.dat
    ../inputs/filters/ARIEL_AIRS_3.578um.dat
    ../inputs/filters/ARIEL_AIRS_3.650um.dat
    ../inputs/filters/ARIEL_AIRS_3.723um.dat
    ../inputs/filters/ARIEL_AIRS_4.032um.dat
    ../inputs/filters/ARIEL_AIRS_4.305um.dat
    ../inputs/filters/ARIEL_AIRS_4.597um.dat
    ../inputs/filters/ARIEL_AIRS_4.909um.dat
    ../inputs/filters/ARIEL_AIRS_5.242um.dat
    ../inputs/filters/ARIEL_AIRS_5.597um.dat
    ../inputs/filters/ARIEL_AIRS_5.976um.dat
    ../inputs/filters/ARIEL_AIRS_6.381um.dat
    ../inputs/filters/ARIEL_AIRS_6.814um.dat
    ../inputs/filters/ARIEL_AIRS_7.276um.dat

# MCMC parameters:
sampler  = snooker
nsamples =     2e6
burnin   =   10000
nchains  =      24
thinning =       2
ncpu     =      24
grbreak  =    1.01
grnmin   =     5e5

# Retrieval models, select from: [temp rad mol ray cloud patchy mass]
retflag = temp rad mol

#        kappa  g1    g2 alpha tirr  tint rplanet  H2O    CH4     CO    CO2
params = -4.44 -0.8  0.0  0.0   735  100   10.7   -3.5   -4.9   -4.0   -7.5
pmin   = -8.0  -5.0 -5.0  0.0   100    0    0.5  -12.0  -12.0  -12.0  -12.0
pmax   = -1.0   5.0  5.0  1.0  5000  100   30.0   -1.0   -1.0   -1.0   -1.0
pstep  =  0.3   0.3  0.0  0.0    10    0    0.1    0.5    0.5    0.5    0.5
prior  =  0.0   0.0  0.0  0.0     0    0   10.96   0.0    0.0    0.0    0.0
priorlow= 0.0   0.0  0.0  0.0     0    0    0.30   0.0    0.0    0.0    0.0
priorup = 0.0   0.0  0.0  0.0     0    0    0.30   0.0    0.0    0.0    0.0

# Trace-abundances cap:
qcap = 0.9

# MCMC temperature boundaries:
tlow  =  200
thigh = 3000

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
logxticks = 0.6 1.0 2.0 3.0 4.0 5.0 8.0
