[pyrat]
# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = mcmc

# Observing geometry, select between: [transit emission]
rt_path = emission

# Output log and spectrum file names:
mcmcfile = MCMC_emission_WASP-94Ab.npz

# Atmospheric model:
atmfile = taurex.atm

# TLI opacity files:
extfile =
    ../run_setup/taurex_H2O_opacity_R15000.npz
    ../run_setup/taurex_CH4_opacity_R15000.npz
    ../run_setup/taurex_CO2_opacity_R15000.npz
    ../run_setup/taurex_CO_opacity_R15000.npz

# Cross-section opacity files:
csfile = ../run_setup/CIA_HITRAN_H2-H2_1.0-500.0um_0200-3000K.dat

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = dalgarno_H2

# Atmospheric models:
tmodel = tcea
radmodel = hydro_m

molmodel = vert vert vert vert
molfree  = H2O  CH4  CO   CO2
bulk = H2 He

# Wavelength sampling boundaries:
wllow  = 0.45 um
wlhigh = 8.05 um

# Wavenumber sampling rate and oversampling factor:
wnstep  = 0.3
wnosamp = 720.0
resolution = 15000.0

# System parameters:
rstar = 1.48 rsun
tstar = 6170.0
rplanet = 17.34 rearth
mplanet = 159.0 mearth
refpressure = 100.0 bar
smaxis = 0.055 au
tint = 100.0

# Maximum optical depth to calculate:
maxdepth = 10.0

# Observations:
dunits = ppm
data =
       6.43    31.70   113.42   160.63   267.78   133.24
     254.02   460.43   336.70   370.24   381.14   437.91
     512.39   634.60   712.79   807.22   867.64   837.30
     792.31   724.69   631.94   552.75   542.62   518.11
     554.22   562.48   556.97   569.93   589.08   615.64
     625.25   662.72   718.37   791.71   865.70   946.28
    1003.15  1129.11  1164.50  1252.61  1317.90  1426.80
    1618.91  1504.77  1436.32  1486.25  1506.79  1526.25
    1679.10  1785.81  1648.06  1776.62
uncert =
      42.71    41.07    41.93    49.68    51.04    52.66
      54.57    56.80    59.42    94.45    95.95    97.36
      98.90   100.53   102.15   103.74   105.50   107.31
     109.13   111.00   112.99   115.01   117.09   119.20
     121.44   123.67   126.05   128.38   130.87   133.39
     136.13   138.80   141.50   144.46   147.43   150.46
     153.60   156.70   159.99   163.44   166.92   170.60
     116.52   124.38   133.06   142.57   153.09   164.72
     177.49   191.54   207.17   224.24

filters =
    ../inputs/filters/ARIEL_VISPhot_0.550um.dat
    ../inputs/filters/ARIEL_FGS_0.705um.dat
    ../inputs/filters/ARIEL_FGS_0.955um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.156um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.275um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.406um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.550um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.708um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.884um.dat
    ../inputs/filters/ARIEL_AIRS_1.970um.dat
    ../inputs/filters/ARIEL_AIRS_2.009um.dat
    ../inputs/filters/ARIEL_AIRS_2.050um.dat
    ../inputs/filters/ARIEL_AIRS_2.091um.dat
    ../inputs/filters/ARIEL_AIRS_2.133um.dat
    ../inputs/filters/ARIEL_AIRS_2.176um.dat
    ../inputs/filters/ARIEL_AIRS_2.219um.dat
    ../inputs/filters/ARIEL_AIRS_2.264um.dat
    ../inputs/filters/ARIEL_AIRS_2.310um.dat
    ../inputs/filters/ARIEL_AIRS_2.356um.dat
    ../inputs/filters/ARIEL_AIRS_2.403um.dat
    ../inputs/filters/ARIEL_AIRS_2.452um.dat
    ../inputs/filters/ARIEL_AIRS_2.501um.dat
    ../inputs/filters/ARIEL_AIRS_2.551um.dat
    ../inputs/filters/ARIEL_AIRS_2.602um.dat
    ../inputs/filters/ARIEL_AIRS_2.655um.dat
    ../inputs/filters/ARIEL_AIRS_2.708um.dat
    ../inputs/filters/ARIEL_AIRS_2.763um.dat
    ../inputs/filters/ARIEL_AIRS_2.818um.dat
    ../inputs/filters/ARIEL_AIRS_2.875um.dat
    ../inputs/filters/ARIEL_AIRS_2.932um.dat
    ../inputs/filters/ARIEL_AIRS_2.991um.dat
    ../inputs/filters/ARIEL_AIRS_3.052um.dat
    ../inputs/filters/ARIEL_AIRS_3.113um.dat
    ../inputs/filters/ARIEL_AIRS_3.175um.dat
    ../inputs/filters/ARIEL_AIRS_3.239um.dat
    ../inputs/filters/ARIEL_AIRS_3.304um.dat
    ../inputs/filters/ARIEL_AIRS_3.371um.dat
    ../inputs/filters/ARIEL_AIRS_3.439um.dat
    ../inputs/filters/ARIEL_AIRS_3.508um.dat
    ../inputs/filters/ARIEL_AIRS_3.578um.dat
    ../inputs/filters/ARIEL_AIRS_3.650um.dat
    ../inputs/filters/ARIEL_AIRS_3.723um.dat
    ../inputs/filters/ARIEL_AIRS_4.032um.dat
    ../inputs/filters/ARIEL_AIRS_4.305um.dat
    ../inputs/filters/ARIEL_AIRS_4.597um.dat
    ../inputs/filters/ARIEL_AIRS_4.909um.dat
    ../inputs/filters/ARIEL_AIRS_5.242um.dat
    ../inputs/filters/ARIEL_AIRS_5.597um.dat
    ../inputs/filters/ARIEL_AIRS_5.976um.dat
    ../inputs/filters/ARIEL_AIRS_6.381um.dat
    ../inputs/filters/ARIEL_AIRS_6.814um.dat
    ../inputs/filters/ARIEL_AIRS_7.276um.dat

# MCMC parameters:
sampler  = snooker
nsamples =     2e6
burnin   =   10000
nchains  =      24
thinning =       2
ncpu     =      24
grbreak  =    1.01
grnmin   =     5e5

# Retrieval models, select from: [temp rad mol ray cloud patchy mass]
retflag = temp rad mol

#        kappa  g1    g2 alpha tirr  tint rplanet  H2O    CH4     CO    CO2
params = -4.2  -0.7  0.0  0.0  1545  100    19.3  -3.7   -6.0   -3.7   -7.5
pmin   = -8.0  -5.0 -5.0  0.0   100    0     0.5 -12.0  -12.0  -12.0  -12.0
pmax   = -1.0   5.0  5.0  1.0  5000  100    30.0  -1.0   -1.0   -1.0   -1.0
pstep  =  0.3   0.3  0.0  0.0    10    0     0.1   0.5    0.5    0.5    0.5
prior  =  0.0   0.0  0.0  0.0     0    0   17.34   0.0    0.0    0.0    0.0
priorlow= 0.0   0.0  0.0  0.0     0    0    0.56   0.0    0.0    0.0    0.0
priorup = 0.0   0.0  0.0  0.0     0    0    0.56   0.0    0.0    0.0    0.0

# Trace-abundances cap:
qcap = 0.9

# MCMC temperature boundaries:
tlow  =  200
thigh = 3000

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
logxticks = 0.6 1.0 2.0 3.0 4.0 5.0 8.0
