[pyrat]
# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = mcmc

# Observing geometry, select between: [transit emission]
rt_path = emission

# Output log and spectrum file names:
mcmcfile = MCMC_emission_WASP-31b.npz

# Atmospheric model:
atmfile = taurex.atm

# TLI opacity files:
extfile =
    ../run_setup/taurex_H2O_opacity_R15000.npz
    ../run_setup/taurex_CH4_opacity_R15000.npz
    ../run_setup/taurex_CO2_opacity_R15000.npz
    ../run_setup/taurex_CO_opacity_R15000.npz

# Cross-section opacity files:
csfile = ../run_setup/CIA_HITRAN_H2-H2_1.0-500.0um_0200-3000K.dat

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = dalgarno_H2

# Atmospheric models:
tmodel = tcea
radmodel = hydro_m

molmodel = vert vert vert vert
molfree  = H2O  CH4  CO   CO2
bulk = H2 He

# Wavelength sampling boundaries:
wllow  = 0.45 um
wlhigh = 8.05 um

# Wavenumber sampling rate and oversampling factor:
wnstep  = 0.3
wnosamp = 720.0
resolution = 15000.0

# System parameters:
rstar = 1.252 rsun
tstar = 6302.0
rplanet = 17.0 rearth
mplanet = 151.91 mearth
refpressure = 100.0 bar
smaxis = 0.046 au
tint = 100.0

# Maximum optical depth to calculate:
maxdepth = 10.0

# Observations:
dunits = ppm
data =
       2.37    15.82    77.66   140.73   235.90   156.69
     287.66   489.00   415.52   462.19   478.41   539.93
     619.62   742.80   823.07   911.62   966.47   942.80
     914.10   863.00   787.43   721.15   721.14   708.45
     752.68   767.19   770.12   791.92   819.07   855.17
     872.69   919.20   981.12  1062.77  1144.23  1233.03
    1299.42  1431.39  1474.69  1570.18  1641.91  1754.44
    1968.28  1773.91  1805.70  1917.93  1978.03  2028.56
    2204.57  2334.71  2223.53  2372.57
uncert =
      86.19    82.32    84.57   103.63   106.99   110.94
     115.57   120.96   127.25   209.07   212.57   215.85
     219.43   223.20   226.97   230.67   234.73   238.93
     243.13   247.47   252.07   256.73   261.54   266.41
     271.57   276.73   282.21   287.58   293.32   299.12
     305.41   311.58   317.79   324.58   331.42   338.37
     345.60   352.71   360.28   368.20   376.18   384.62
     260.62   278.76   298.74   320.61   344.79   371.50
     400.79   432.99   468.78   507.87

filters =
    ../inputs/filters/ARIEL_VISPhot_0.550um.dat
    ../inputs/filters/ARIEL_FGS_0.705um.dat
    ../inputs/filters/ARIEL_FGS_0.955um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.156um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.275um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.406um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.550um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.708um.dat
    ../inputs/filters/ARIEL_NIRSpec_1.884um.dat
    ../inputs/filters/ARIEL_AIRS_1.970um.dat
    ../inputs/filters/ARIEL_AIRS_2.009um.dat
    ../inputs/filters/ARIEL_AIRS_2.050um.dat
    ../inputs/filters/ARIEL_AIRS_2.091um.dat
    ../inputs/filters/ARIEL_AIRS_2.133um.dat
    ../inputs/filters/ARIEL_AIRS_2.176um.dat
    ../inputs/filters/ARIEL_AIRS_2.219um.dat
    ../inputs/filters/ARIEL_AIRS_2.264um.dat
    ../inputs/filters/ARIEL_AIRS_2.310um.dat
    ../inputs/filters/ARIEL_AIRS_2.356um.dat
    ../inputs/filters/ARIEL_AIRS_2.403um.dat
    ../inputs/filters/ARIEL_AIRS_2.452um.dat
    ../inputs/filters/ARIEL_AIRS_2.501um.dat
    ../inputs/filters/ARIEL_AIRS_2.551um.dat
    ../inputs/filters/ARIEL_AIRS_2.602um.dat
    ../inputs/filters/ARIEL_AIRS_2.655um.dat
    ../inputs/filters/ARIEL_AIRS_2.708um.dat
    ../inputs/filters/ARIEL_AIRS_2.763um.dat
    ../inputs/filters/ARIEL_AIRS_2.818um.dat
    ../inputs/filters/ARIEL_AIRS_2.875um.dat
    ../inputs/filters/ARIEL_AIRS_2.932um.dat
    ../inputs/filters/ARIEL_AIRS_2.991um.dat
    ../inputs/filters/ARIEL_AIRS_3.052um.dat
    ../inputs/filters/ARIEL_AIRS_3.113um.dat
    ../inputs/filters/ARIEL_AIRS_3.175um.dat
    ../inputs/filters/ARIEL_AIRS_3.239um.dat
    ../inputs/filters/ARIEL_AIRS_3.304um.dat
    ../inputs/filters/ARIEL_AIRS_3.371um.dat
    ../inputs/filters/ARIEL_AIRS_3.439um.dat
    ../inputs/filters/ARIEL_AIRS_3.508um.dat
    ../inputs/filters/ARIEL_AIRS_3.578um.dat
    ../inputs/filters/ARIEL_AIRS_3.650um.dat
    ../inputs/filters/ARIEL_AIRS_3.723um.dat
    ../inputs/filters/ARIEL_AIRS_4.032um.dat
    ../inputs/filters/ARIEL_AIRS_4.305um.dat
    ../inputs/filters/ARIEL_AIRS_4.597um.dat
    ../inputs/filters/ARIEL_AIRS_4.909um.dat
    ../inputs/filters/ARIEL_AIRS_5.242um.dat
    ../inputs/filters/ARIEL_AIRS_5.597um.dat
    ../inputs/filters/ARIEL_AIRS_5.976um.dat
    ../inputs/filters/ARIEL_AIRS_6.381um.dat
    ../inputs/filters/ARIEL_AIRS_6.814um.dat
    ../inputs/filters/ARIEL_AIRS_7.276um.dat

# MCMC parameters:
sampler  = snooker
nsamples =     2e6
burnin   =   10000
nchains  =      24
thinning =       2
ncpu     =      24
grbreak  =    1.01
grnmin   =     5e5

# Retrieval models, select from: [temp rad mol ray cloud patchy mass]
retflag = temp rad mol

#        kappa  g1    g2 alpha tirr  tint rplanet  H2O    CH4     CO    CO2
params = -3.9  -0.7  0.0  0.0  1585  100   17.2   -3.5   -8.0   -3.5   -8.5
pmin   = -8.0  -5.0 -5.0  0.0     0    0    0.5  -12.0  -12.0  -12.0  -12.0
pmax   = -1.0   5.0  5.0  1.0  5000  100   30.0   -1.0   -1.0   -1.0   -1.0
pstep  =  0.3   0.3  0.0  0.0    10    0    0.1    0.5    0.5    0.5    0.5
prior  =  0.0   0.0  0.0  0.0     0    0   17.00   0.0    0.0    0.0    0.0
priorlow= 0.0   0.0  0.0  0.0     0    0    0.56   0.0    0.0    0.0    0.0
priorup = 0.0   0.0  0.0  0.0     0    0    0.56   0.0    0.0    0.0    0.0

# Trace-abundances cap:
qcap = 0.9

# MCMC temperature boundaries:
tlow  =  200
thigh = 3000

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
logxticks = 0.6 1.0 2.0 3.0 4.0 5.0 8.0
